
/* .goal1 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:AN…1r5rHzCUE_FWwNMqFzBiaXncpM9m4mKXIiwQJ7NE&usqp=CAU");
    height: 500px;
    background-color: bisque;
    margin-top: 40px;
} */
.goal1{
    background-image: url("https://cdn.pixabay.com/photo/2019/06/25/20/40/letters-4299007_960_720.jpg");
    height: 400px;
    
    margin-top: 30px;
}