/* .container {
    padding: 20px;
    width: 90%;
    margin: 100% auto;
} */

.close {
    width: 250px;
    transition: 1s;
}

/* img {
    display: block;
    width: 100%;
    border-radius: 5px;
} */
.close:hover{
    transform: scale(1.2);
    z-index: 2;
}