.head-card{
    height: 80px;
    background-color: grey;
    
 
}
.fooling{
   
    border-radius: 2px;
    border: none;
    font-size: 13px;
    background-color:white;
    border-bottom: none !important;
    position: relative;
    cursor: pointer;
    display: inline-block;
   overflow: hidden;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 60px;
    margin-top: 24px;
    margin-left: 1400px;
    margin-right: 15px;
 
}
.farm{
    display: flex;
    justify-content: center;
    
}
.cooling{
    border-radius: 2px;
    border: none;
    font-size: 13px;
    background-color:white;
    border-bottom: none !important;
    position: relative;
    cursor: pointer;
    display: inline-block;
 
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 80px;
    margin-top: 24px;
}
.class-card{
    background-image: url("https://as2.ftcdn.net/v2/jpg/00/91/42/97/1000_F_91429700_5gaqXRRivQjbA0hiZrjQkX2pwoz5eSFZ.jpg");
  

    height: 50vh;
    background-color: black;
    margin-top: 50px;
    border: 1px solid;
  width: 1500px;
    margin-left: 40px;
    border-radius: 20px;
    border-color: white;
}
.last-card{
    height: 150vh;
}
.deny{
margin-top: 15px;
  

}
.rapo{
    margin-top: 30px;
    height: 70vh;
    width: 1500px;
    border-radius: 10px;
}
.rating{
    display: flex;
    justify-content: center;
}
.ho{
    border-radius: 2px;
    border: none;
    font-size: 13px;
    background-color:green;
    border-bottom: none !important;
    position: relative;
    cursor: pointer;
    display: inline-block;
   overflow: hidden;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 60px;
    margin-left: 950px;
    margin-top: 20px;
    height: 30px;
}
.num{
    margin-top: 5px;
}
.comm{
    margin-right: 1150px;
   
    font-size: 20px;
}
.abu{
    margin-right: 770px;
    font-size: 20px;
}
.open{
    margin-right: 1210px;
    font-size: 20px;
    color: palevioletred;
    font-weight: bold;

}
.con{
    margin-right: 1250px;
    font-size: 20px;
    
}